<h2>Pillowtalk</h2>

<h4>Sections</h4>
<ul>
  <li>
    <a href="<%= operator_path(@conn, :index) %>">Operators</a>
  </li>
</ul>

<h4>Resources</h4>
<ul>
  <li>
    <a href="http://hexdocs.pm/phoenix">Docs</a>
  </li>
  <li>
    <a href="https://github.com/phoenixframework/phoenix">Source</a>
  </li>
</ul>
