<h2>Operator <%= @operator.id %></h2>

<p>
  Email: <%= @operator.email %>
</p>

<p>
  <a href="<%= operator_path(@conn, :edit, @operator) %>">Edit</a>
  <a href="<%= operator_path(@conn, :index) %>">Back</a>
</p>
